.prod_cell img{
  width: 150px;
}

.prod_img{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    border-bottom:1px solid rgba(0,0,0,.1);
    cursor: pointer; cursor: hand;
}
.pi-title{
  float: left;
  width: 50%
}
.pi-price{
  float: right;
  padding: 0px;
  width: 20%;
}
.prod_img .material-icons{
  position:absolute;
  top:15px;
  right:15px;
}
.prod_but{
    align-items: flex-start;
    text-align: center;
    margin-bottom: 20px;
    font-family: "LEGOSemiBold","Helvetica","Arial",sans-serif;
}
.qty_input{
  width:80px;
  padding-top: 0px;
}
.qty_spinner{
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.qty_spinner .mdl-textfield__label{
  top: 4px;
}
.pt-dialog{
  width: 400px;
}

.pt-dialog li a{
  color: #2d8ffa;
}

.mdl-dialog .prod_img{
    border:1px solid rgba(0,0,0,.1);
    float: left;
}

.mdl-dialog .thumb_img{
    width: 50px;
    float: left;
}

.thumb_2, .thumb_3{
    border: 1px solid rgba(0,0,0,.1);
}
.mdl-dialog .thumb_1{
    border: 1px solid #2d8ffa;
}

.pt-refine .mdl-checkbox__box-outline{
    border-color: rgba(0, 0, 0, .87);
}
.pt-refine h4{
  margin:12px 0 8px;
  color: rgba(0, 0, 0, .87);
}
.pt-refine h4{
  padding-left: 15px;
  top: 5px
  color: rgba(0, 0, 0, .87);
}
.pt-refine h5{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(0, 0, 0, .87);
}
.pt-refine h6{
  margin: 18px 0 4px;
  color: rgba(0, 0, 0, .87);
}
.pt-refine .mdl-checkbox__label{
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
}
.pt-viewmore, .pt-viewmore a{
  color: #2d8ffa;
  font-size: 12px;
}
.bold{
  font-family: "LEGOSemiBold","Helvetica","Arial",sans-serif;
}
.bolder{
  font-family: "LEGOStdBold","Helvetica","Arial",sans-serif;
}
.em12{
  font-size:1.2em;
}
.demo-drawer-header{
  height: 121px;
}
.demo-drawer-header h4{
  margin: 12px 0px 0px;
}
.demo-drawer{
  box-shadow: none;
}
@media (min-width: 840px){
  .mdl-grid{
    padding: 8px 0px 8px 0px;
  }

}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
  background: #2d8ffa;
}
.mdl-layout__header-row .mdl-textfield__label:after{
  background: #2d8ffa;
}

.demo-layout .demo-header .mdl-textfield{
  padding: 0px;
  margin-top: 45px;
  margin: 0 auto;
  padding-top: 50px;
}
.demo-drawer{
  overflow-y:visible !important; overflow-x:visible !important
}

.mdl-layout__content{
  overflow-y: visible !important;
  overflow-x: visible !important;
}
.mdl-layout__drawer{
  //border-right: 1px solid #424242;
}

@media (min-width: 1073px){
  .qty_input{
    //width: 40px;
  }
}

@media (min-width: 840px){
  .pi-price{
    padding-right: 15px;
  }
  .qty_input{
    width: 50px;
  }
  .qty_spinner .mdl-textfield__label{
    font-size: 12px;
  }
}
